*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans Condensed', sans-serif;

}

.contenedor{
	padding: 60px 0;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
	
}
.titulo{
	color: #085549;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}
.titulo2{
	color: #0C3E25;
	font-size: 50px;
	text-align: center;
}
.insignia{
	text-align: left;
	padding: 10px 10px;
	width: 150px;
	height: 150px;
	
}



/* header*/

header{
	width: 100%;
	height: 600px;
	background-image: linear-gradient(120deg, rgba(246, 211, 101,0.2) 0%, rgba(253, 160, 133,0.4)100%), url(imagenes/imagen2.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

nav{
	text-align: right;
	padding: 30px 50px 0 0;
}

nav > a{
	font-size: 25px;
	color: #06A5BB;
	font-weight: 300;
	text-decoration: none;
	margin-right: 10px;
}

nav  a:hover{
	color: #fff;
	text-decoration: underline;
}

header .texto-header{
	display: flex;
	height: 400px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.texto-header h1{
	font-size: 50px;
	color: #fff;
}


.wave{
	position: absolute;
	bottom: 0;
	width: 100%;

}
	


/* abaut us*/

.contenedor .sobre-nosotros{
	display: flex;
	justify-content: space-around;	
}

.imagen{
	display: flex;
	width: 100%;
	align-items: center;

}

.sobre-nosotros  .contenido-texto{
	width: 100%
}

.contenido-texto h3{
	margin-bottom: 0px;
}

.contenido-texto h3 span{
	background: #086943;
	color: #fff;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	width: 30px;
	padding: 3px;
	margin-right: 5px;

}

.ancla{
	color: #000;
	text-decoration: none;
}
.ancla:hover{
	color: #19BF6C;
}

.contenido-texto p{
	padding: 0px 0px 20px 0px;
	font-weight: 300;
	text-align: justify;
}

.portafolio{
	background:#D1EBDD;
}

.galeria-port{

	display: flex;
	justify-content: space-between;
	flex-wrap: : wrap;
	width: 135%;
	height: 200px;

}
.imagen-port{
	width: 24%;
	height: 200px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	
}
.imagen-port img{
	width: 100%
	height: 100%;
	object-fit: cover;
	display: block;
}




/*clientess*/


.cards{
	display: flex;
	justify-content: space-between;
}
.cards .card{
	background: #D1FFE9;
	display: flex;
	width: 46%;
	height: 200px;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.6);
}
.cards .card img{
	width: 100px;
	height:100px;
	object-fit: cover;
	border: 3px solid #fff;
	border-radius: 50%;
	display: block;
}

/*ou time*/

.abut-service{
	background: #f2f2f2;
	padding-bottom: 30px;

}

.servicio-count{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.servicio-ind{
	width: 18%;
	text-align: center;
	padding: 0px 0px 20px 0px;
	font-weight: 300;
	text-align: justify;
}

.servicio-ind img{
	width: 90%;
}

.servicio-ind h3{
	margin: 10px 0;

}


.servicio-ind p{
	font-weight: 300;
	text-align: justify;
}

/* footer */

footer{
	background: #414141;
	padding:  60px 0 30px 0;
	margin: auto;
	overflow: hidden;
}

.contenedor-footer{
	display: flex;
	width: 90%;
	justify-content: space-between;
	margin: auto;
	margin-bottom: 50px;
	border-bottom: 1px solid  #ccc;
}

.content-foot{
	text-align: center;
}

.content-foot h4{
	color: #fff;
	border-bottom: 3px solid #05B45D;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.content-foot p{
	color: #ccc;

}
.titulo-final{
	text-align: center;
	font-size: 24px;
	margin: 24px 0 0 0;
	color: #9e9797;
}


/*pagina 2*/

a p{
	display: flex;
	justify-content: space-between;
}


/* pagina 3*/ 

.fin{
	width: 20%;
	height: 150px;
}